#sidebar {
  position: absolute;
  width: 80px; 
  height: 100%;
  transition: width 0.3s ease; 
  overflow-x: hidden; 
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2); 
  top:0px;
  z-index:200;
}
.border-bottom{
  height: 100px;
}

#sidebar .header-text {
  display: none; 
}
#sidebar:hover .header-text {
  font: bold 1.75rem "Fira Sans", sans-serif;
  display: inline; 
  margin-left: 10px; 
  margin-top: 50px;
}

#sidebar .header-icon {
  margin-top: -10px;
  font-size: 35px; 
  display: inline; 
  align-items: center; 
  justify-content: center; 
}

/* Expanded width on hover */
#sidebar:hover {
  width: 250px; 
}

/* Hide text by default */
#sidebar .nav-text{
  display: none; 
}
/* Show text on hover */
#sidebar:hover .nav-text {
  display: inline-block; 
  margin-left: 10px; 
}

/* Centers the icon when not on hover */
#sidebar .nav-icon {
  margin-left: 6px;
  display: flex; 
  align-items: center; 
  justify-content: center; 
}



.dual-scroll-container {
  display: flex; 
  justify-content: space-between;
  height: 90vh; 
  overflow: hidden; 
}

.scrollable-section {
  max-height: 100%; 
  overflow-y: auto; 
  padding: 1rem;
  box-shadow: inset 0 -3px 5px rgba(0,0,0,0.1); 
}

.left-section {
  width: 40%;
  background-color: #f0f0f0;
}

.right-section {
  width:60%;
  background-color: #e0e0e0;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}


#test{
  margin-left: 100px;
}

.bg-body-tertiary{
  height:100px;
}

.page-title{
  position: absolute;  
  top: 35px;
  left:110px;

}
.page-contents{
  position: absolute;
  top: 120px;
  left: 100px;
  width: calc(100% - 100px);
  height: calc(100% - 120px);
  overflow: auto;
}

.fav-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  font-size: 20px;
  
}
.fav-list-text {
  margin-top: 15px;
  
}
.fav-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
  padding: 10px;
  border-radius: 14px;
  background: rgb(167, 191, 168);
}
.actionsContainer button:hover {
  opacity: 0.5;
  font-size: 30px;
}
.fav-list-item:hover {
  opacity: 0.7;
  cursor: pointer;
}

.actionsContainer {
  gap: 14px;
  font-size: 25px;
}
.actionsContainer button {
  transition-duration: 200ms;
  border: none;
  background: transparent;
  cursor: pointer;
}


